:root {
  --main-dark-color: #274d40;
  --main-light-color: #eff6f4;
  --main-link-color: #5cbb98;
  --hover-light-color: #c4d1cd;
  --gray-hover-color: #ccc;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.Sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-right: 1px solid var(--main-light-color);
}

.short {
  max-width: 100px;
}

.Sidebar-list {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Sidebar .row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 30px;

  list-style-type: none;
  cursor: pointer;
  margin: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Sidebar .row:hover {
  background-color: rgb(157, 157, 157);
}

.row #icon {
  flex: 30%;
}

.row #title {
  flex: 70%;
}

#logout-button {
  height: 60px;
  bottom: 0;
}

.Feed {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  border-right: solid var(--main-light-color) 1px;
  border-left: solid var(--main-light-color) 1px;
}

.Feed-heading {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: white;
}

.Feed-heading h2 {
  font-weight: bold;
}

.Extra {
  min-width: 400px;
  max-width: 450px;
  background-color: white;
  padding: 20px;
}

.Empty {
  min-width: 100px;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark-color);

  height: 100vh;
  width: 100vw;

  font-family: 'Roboto', sans-serif;

}

.round-button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  color: white;
  background: black;
  font-weight: bold;
}

.round-button:disabled,
.round-button[disabled] {
  cursor: mouse;
  background: gray;
}

.popup {
  position: absolute;
  /* margin-top: auto; */
  z-index: 1;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); 
}

.popup-content {
  top: 120px;
  left: 200px;
  /* height: 100px; */
  min-width: 650px;
  min-height: 300px;
  border-radius: 15px;
  background-color: white;
}

.popup-content svg {
  margin: 10px;
}

svg {
  cursor: pointer;
}

.post-card {
  border: 1px;
  border-style: solid;
  border-color: #eff6f4;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;

  
}

.post-card:hover {
  background-color: var(--main-light-color)
}

.profile-pic {
  min-width: 80px;
  display: flex;
  justify-content: center;

}

.profile-pic .pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}



