.settings {
    display: flex;
    width: 100%;

    .sidebar {
        min-width: 40%;
        padding: 1rem;
        border-right: 1px solid var(--main-light-color);

        .sidebar-container {
            width: 100%;
            .sidebar-option {
                padding: 10px;
            }
            .sidebar-option:hover {
                cursor: pointer;
                background-color: gray;
            }
        }
    }

    .content {
        min-width: 60%;
        padding: 0 1rem;
    }

}

.your-account {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .account-options {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
    }
}

.notification-settings {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    
}