.new-post {
    display: flex;

    margin: 5px;
    min-height: 150px;
}

.profile-pic {
    max-width: 80px;
    min-width: 80px;
}


.post-form {
    width: 100%;
    margin: 10px;
}

.post-form input {
    width: 100%;
    border: none;
}

.post-form input:focus {

    outline: none;
}
.post-form button {
    float: right;
}


.post-form button {
    border: none;
    background-color: #274d40;
    
}
.post-from button:disabled,
.post-form button[disabled] {
    cursor: mouse;
    background-color: #5a6b66;
}

.popup-new-post {
    display: flex;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}


.form-footer svg {
    font-size: 1.5rem;
}

.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
  }