.heading-new-post {
    display: flex;

    margin: 5px;
    min-height: 150px;
}

.profile-pic {
    max-width: 80px;
    min-width: 80px;
}

.pic {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.post-form {
    width: 100%;
    margin: 10px;
}

.post-form input {
    width: 100%;
    border: none;
}

.post-form input:focus {

    outline: none;
}
.post-form button {
    float: right;
}

.popup-new-post {
    display: flex;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}


.form-footer svg {
    font-size: 1.5rem;
}

.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
  }