.post-list {
  /* height: 100%; */
  width: 100%;
}

.post-card {
  border: 1px;
  border-style: solid;
  border-color: #eff6f4;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}
.post-card .post-body {
  padding: 10px;
  width: 100%;
}
.post-card .post-body .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  text-align: center;
}
.post-card .post-body .post-header svg:hover {
  cursor: pointer;
}
.post-card .post-body p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-card .post-body .post-footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  text-align: center;
}
.post-card .post-body .post-footer svg {
  cursor: pointer;
}
.post-card .post-body .post-footer #comment:hover {
  color: #5580ff;
  background-color: rgba(85, 128, 255, 0.2862745098);
}
.post-card .post-body .post-footer #like:hover {
  color: #ec4b4b;
  background-color: rgba(236, 75, 75, 0.2470588235);
}

.comment-form {
  display: flex;
  width: 300px;
  height: 300px;
}
.comment-form input {
  width: 500px;
  height: 100px;
  outline: none;
  border: none;
}

.post-menu {
  position: absolute;
  border: 1px black solid;
  background-color: white;
  /* height: 50px; */
  width: 80px;
  right: 120px;
}
.post-menu .menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.post-menu .menu-list .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.post-menu .menu-list .row:hover {
  background-color: #e6e6e6;
}

.full-post-page-header {
  display: flex;
  align-items: center;
  position: top;
}
.full-post-page-header svg {
  cursor: pointer;
  margin: 20px;
}

.full-post {
  display: flex;
  flex-direction: column;
}
.full-post .full-post-header {
  display: flex;
  padding: 10px;
}
.full-post .full-post-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.full-post .full-post-header .user-name {
  margin: 5px 20px;
}
.full-post .full-post-header .user-name h3 {
  font-size: 20px;
  margin: 0;
}
.full-post .full-post-header .user-name p {
  font-size: 18px;
  margin: 0;
}
.full-post .full-post-body {
  padding: 10px;
  padding-bottom: 0;
}
.full-post .full-post-body p#post-text {
  font-size: 18px;
  margin: 10px;
}
.full-post .full-post-body p#post-location {
  font-size: 14px;
  margin: 10px;
  color: gray;
}
.full-post .full-post-footer {
  display: grid;
}
.full-post .full-post-footer .footer-details {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #e6e6e6;
}
.full-post .full-post-footer .footer-details p {
  margin: 0px 10px;
  padding: 0;
}
.full-post .full-post-footer .footer-icons {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.new-comment-form {
  display: flex;
  align-items: center;
  padding: 15px;
}
.new-comment-form img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.new-comment-form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  margin: 0 20px;
}
.new-comment-form button {
  border: none;
  background-color: #274d40;
}
.new-comment-form button:disabled,
.new-comment-form button[disabled] {
  cursor: mouse;
  background-color: #5a6b66;
}

.comments-list {
  display: grid;
  grid-template-columns: 1fr;
}

.reply {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #eff6f4;
  border-bottom: 1px solid #eff6f4;
  padding: 10px 0px;
}
.reply p {
  margin: 0;
  padding: 0;
}
.reply p.text-content {
  margin: 10px 0px;
}
.reply img.pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}
.reply .reply-body span {
  color: gray;
}/*# sourceMappingURL=style.css.map */