.post-list {
    /* height: 100%; */
    width: 100%;
}

.post-card {
    border: 1px;
    border-style: solid;
    border-color: #eff6f4;
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;

    .post-body {
        padding: 10px;
        width: 100%;
    
        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            text-align: center;
    
            svg:hover {
                cursor: pointer;
            }
    
        }
    
        p {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        .post-footer {
            display: flex;
            justify-content: space-between;
            height: 40px;
            align-items: center;
            text-align: center;
    
            .icon-container#comment:hover {
                color: #5580ff;
                background-color: #5580ff49;
                cursor: pointer;
            }
            .icon-container#like:hover {
                color: #ec4b4b;
                cursor: pointer;
            }
            
            .icon-container#edit:hover {
                color: #64c982;
                cursor: pointer;
            }
            .icon-container#delete:hover {
                color: #a669b1;
                cursor: pointer;
            }
    
        
        }
    }

}


.comment-form {
    display: flex;
    width: 300px;
    height: 300px;

    input {
        width: 500px;
        height: 100px;
        outline: none;
        border: none;
    }
}

.post-menu {
    position: absolute;
    border: 1px black solid;
    background-color: white;
    /* height: 50px; */
    width: 80px;
    right: 120px;


    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            cursor: pointer;
        }
        
        .row:hover {
            background-color: #e6e6e6;
        }
    }
}


.full-post-page-header {
    display: flex;
    align-items: center;
    position: top;
    svg {
        cursor: pointer;
        margin: 20px;

    }
}

.full-post {
    display: flex;
    flex-direction: column;

    .full-post-header {
        display: flex;
        padding: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .user-name {
            margin: 5px 20px;
            h3 {
                font-size: 20px;
                margin: 0;
            }
            p {
                font-size: 18px;
                margin: 0;
            }

        }
    }


    .full-post-body {
        padding: 10px;
        padding-bottom: 0;
        p#post-text {
            font-size: 18px;
            margin: 10px;
        }

        p#post-location {
            font-size: 14px;
            margin: 10px;
            color: gray;
        }
    }

    .full-post-footer {
        display: grid;
        $row_height: 50px;

        .footer-details {
            display: flex;
            align-items: center;
            height: $row_height;
            border-top: 1px solid #e6e6e6;

            p {
                margin: 0px 10px;
                padding: 0;
            }
        }

        .footer-icons {
            display: flex;
            align-items: center;
            height: $row_height;
            justify-content: space-around;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }
    }
}


.new-post {
    display: flex;

    margin: 5px;
    min-height: 150px;

    .post-form {
        width: 100%;
        margin: 10px;

        input {
            font-size: 20px;
            width: 100%;
            height: 60px;
            border: none;
        }

        input:focus {
            outline: none;
        }

        button {
            float: right;
       
            border: none;
            background-color: #274d40;
            
        }
        button:disabled,
        button[disabled] {
            cursor: mouse;
            background-color: #5a6b66;
        }
    }
}








.popup-new-post {
    display: flex;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    max-height: 50px;

    svg {
        font-size: 1.75rem;
        color: #274d40;
    }

    .image-upload > input {
        visibility:hidden;
        width:0;
        height:0;
        max-height: 50px;
    }
}






.new-comment-form {
    display: flex;
    align-items: center;
    padding: 15px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

    }

    input {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        margin: 0 20px;
    }

    button {
        border: none;
        background-color: #274d40;
        // cursor: pointer;
    }
    button:disabled,
    button[disabled] {
        cursor: mouse;
        background-color: #5a6b66;
    }
}

.comments-list {
    display: grid;
    grid-template-columns: 1fr;
}

.reply {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #eff6f4;
    border-bottom: 1px solid #eff6f4;
    padding: 10px 0px;

    p {
        margin: 0;
        padding: 0;
        
    }

    p.text-content {
        margin: 10px 0px;
    }

    img.pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
    }

    .reply-body {

        span {
            color: gray;
        }
    }
}







