.post-list {
    /* height: 100%; */
    width: 100%;
}

.post-card {
    border: 1px;
    border-style: solid;
    border-color: #eff6f4;
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;

    .post-body {
        padding: 10px;
        width: 100%;
    
        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            text-align: center;
    
            svg:hover {
                cursor: pointer;
            }
    
        }
    
        p {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        .post-footer {
            display: flex;
            justify-content: space-between;
            height: 30px;
            align-items: center;
            text-align: center;
    
            svg {
                cursor: pointer;
            }
    
            #comment:hover {
                color: #5580ff;
                background-color: #5580ff49;
            }
            
            #like:hover {
                color: #ec4b4b;
                background-color: #ec4b4b3f;
            }
        }
    }

}


.comment-form {
    display: flex;
    width: 300px;
    height: 300px;

    input {
        width: 500px;
        height: 100px;
        outline: none;
        border: none;
    }
}

.post-menu {
    position: absolute;
    border: 1px black solid;
    background-color: white;
    /* height: 50px; */
    width: 80px;
    right: 120px;


    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            cursor: pointer;
        }
        
        .row:hover {
            background-color: #e6e6e6;
        }
    }
}


.full-post-page-header {
    display: flex;
    align-items: center;
    svg {
        cursor: pointer;
        margin: 20px;

    }
}

.full-post {
    display: flex;
    flex-direction: column;

    .full-post-header {
        display: flex;
        padding: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .user-name {
            margin: 5px 20px;
            h3 {
                font-size: 20px;
                margin: 0;
            }
            p {
                font-size: 18px;
                margin: 0;
            }

        }
    }


    .full-post-body {
        padding: 10px;
        p#post-text {
            font-size: 18px;
            margin: 10px;
        }

        p#post-location {
            font-size: 14px;
            margin: 10px;
            color: gray;
        }
    }

    .full-post-footer {
        display: grid;

        .footer-details {
            display: flex;
        }

        .footer-icons {
            display: flex;
            justify-content: space-around;
        }
    }
}







