.Newsfeed {
    display: grid;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 10px;

    h2 {
        padding: 10px;
    }

    .list {
        display: grid; 
        border: 1px;
        border-style: solid;
        border-color: black;

    
    
        .news-card {
            border: 1px;
            border-style: solid;
            border-color: black;
            display: flex;
            max-height: 100px;
            padding: 2.5px;

            .card-body {
                display: grid;
                padding: 0;

                h4 {
                    font-size: 1rem;
                    font-weight: 600;
                    // margin-bottom: 0.5rem;
                    padding: 0;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0;
                    // margin-bottom: 0.5rem;
                }
            }

            img {
                width: 60px;  
                height: 60px;
                border-radius: 25%;
                margin: 10px;
            }
        }
    }

    .show-more {
        padding: 10px;
        height: auto;
        color: #7fffd0;
        cursor: pointer;
    }

}
