
.post-list {
    /* height: 100%; */
    width: 100%;
}

.post-card {
    border: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.profile-pic {
    min-width: 80px;
    display: flex;
    justify-content: center;
}

#pic {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}

.post-body {
    padding: 10px;
    width: 100%;
}

.post-body p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    text-align: center;
}

p {
    margin: 0;
    padding: 0
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    text-align: center;
}

.post-footer svg {
    cursor: pointer;
}


.post-footer #comment:hover {
    color: #5580ff;
    background-color: #5580ff49;
}

.post-footer #like:hover {
    color: #ec4b4b;
    background-color: #ec4b4b3f;
}

.comment-form {
    width: 300px;
    height: 300px;
}

.post-menu {
    position: absolute;
    border: 1px black solid;
    background-color: white;
    /* height: 50px; */
    width: 80px;
    right: 120px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.menu-list .row:hover {
    background-color: #e6e6e6;
}


