
.profile-heading {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-height: 80px;
  
    background-color: #e9e8e8;
  }


.profile {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;

    #label {
        max-height: 100%;
        display: flex;
        align-items: center;

        svg {
            margin: 5px;
            font-size: 1.5rem;
        }

        .heading-label {
            margin-left: 10px;
            display: grid;
        }

    }


}

.profile-banner {
    display: grid;
    min-height: 500px;

    .banner-image {
        background-color: gray;
        min-height: 250px;
        
    }

    
     
    .banner-details {
        background-color: white;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .names {
            margin-top: 20px;
            margin-left: 30px;
        }

        .bio {
            margin: 20px 20px;
        }
    }
}

.user-profile-pic {

    position: relative;
    top: -75px;
    left: 50px;
    display: grid;
    margin: 0;
    padding: 0;
    // top:100px;

    #user-pro-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-color: black;
        border-style: solid;
        position: absolute;
    }
}

.profile-feed-heading {
    display: flex;
    justify-content: space-evenly;

    .option {
        color: rgb(187, 187, 187);
        // display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        min-width: 25%;
    }

    .option:hover {
        background-color: gray;
        color: rgb(0, 0, 0);
    }
}


#edit-profile-button {
    float: right;
    margin: 20px;
}
