.login-container {
    padding: 30px;
    width: 500px;

    background-color: #ffffff;
    color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    border-radius: 15px;
    
}

.form {
    width: 300px;
}

.greeting {
    margin: 15px;
    margin-bottom: 30px;
    text-align: left;
    /* align-items: flex-start; */
    justify-content: left;
}

p {
    margin-top: 60px;
    margin-bottom: 40px;
}

span #login {
    color: #5cbb98;
    cursor: pointer;
}

.form button {
    margin-top: 40px;
    margin-bottom: 40px;
}